.cf-nav__container--platform ~ .container-fluid {
  background: rgb(241, 241, 241);
}

.snap-content {
  /*background: #E8E8EC;*/
  background: rgb(241, 241, 241);
}
.course_menu_content {
  background: black;
}

.course_menu_content h2 {
  color: #aaaaaa;
}
.course_menu_content a {
  color: #aaaaaa;
}
.course_menu_content a:hover {
  color: white !important;
}
.menu_link {
  color: #aaaaaa !important;
}
.menu_link.active {
  color: #e8e8ec !important;
}
.course_menu_text {
  color: rgba(34, 60, 80, 0.75);
}

.nav-pills a:hover .course_menu_text {
  color: black !important;
}
.nav-pills a .course_menu_dot {
  background: rgba(34, 60, 80, 0.75); /*matches text color*/
}
.nav-pills .active a .course_menu_dot {
  background: var(--ds-color__petrol--dark);
}

.nav-pills .active a .course_menu_text {
  color: var(--ds-color__petrol--dark);
  font-weight: 600;
}
.nav-pills a:hover .course_menu_dot {
  background: var(--ds-color__grey--400) !important;
}

.nav-pills a:hover .course_menu_text {
  color: var(--ds-color__grey--400) !important;
}
